<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LirouChat</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-light flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-4 text-gray-900 text-center">LirouChat</h2>
        <div>
            <div>

            </div>
            <div>

            </div>
        </div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-medium mb-2">Email ou Nome de Usuário</label>
                <input type="text" id="username" name="username" required
                       class="text-gray-300 text-sm font-medium mb-2 w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-900 focus:outline-none focus:ring-2 focus:ring-primary">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-medium mb-2">Senha</label>
                <input type="password" id="password" name="password" required
                       class="w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-900 focus:outline-none focus:ring-2 focus:ring-primary">
            </div>
            <button type="submit" class="w-full bg-complementary text-white py-2 px-4 rounded-lg font-semibold hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-complementary">
                Login
            </button>
        </form>
    </div>
</body>
</html>
